@import "tailwindcss";

:root {
  background: #ededed;
}

body {
  color: #0a0a0a;
  background: transparent !important;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
